body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

#display {
    width:100;
    padding: 20px;
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    color: black;
    border: 20px solid grey;
    border-radius:20px;
    background-color:rgb(72, 174, 125) ;
}

#calculator {
    background-color: rgb(88, 81, 95);
    border-radius:30px;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding:10px;
    margin:20px
}

button {
    width: 125px;
    height: 50px;
    border: none;
    color:azure;
    border-radius: 20px;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    background-color: hsl(0, 3%, 23%);
}

button:hover {
    background-color: hsl(0, 0%, 45%);
}

button:active {
    background-color: hsl(0, 0%, 75%);
}
